.job-post {
    margin: 20px;
  }
  
  .add-comments-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .add-comment {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .comment-textarea,
  .comment-file-input,
  .submit-comment-button {
    margin-bottom: 10px;
  }
  
  .comment-textarea {
    width: 60%;
    height: 100px;
    resize: vertical;
  }
  
  .comment-file-input {
    padding: 5px;
  }
  
  .submit-comment-button {
    padding: 10px 20px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    width: 15%;
    height: 50px;
  }
  
  .comments-button {
    margin-top: 10px;
  }
  



  .comment-container {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #dcdcdc; /* Slightly deeper shade */
    border-radius: 8px;
  }
  
  .comment {
    margin-bottom: 5px;
  }
  
  .resume {
    margin-top: 5px;
  }
  
  .comment-textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
  }
  
  .comment-file-input {
    margin-bottom: 5px;
  }
  
 
  .comments-button:hover,
  .add-comments-button:hover,
  .submit-comment-button:hover {
    background-color: #0056b3;
  }
  
  .add-comment {
    margin-top: 10px;
  }
  



  .user-profile {
    display: flex;
    align-items: center;
  }
  
  .profile-picture img {
    width: 80px; /* Adjust size as needed */
    height: 80px; /* Adjust size as needed */
    border-radius: 50%; /* Makes the image round */
    margin-right: 10px; /* Adjust spacing as needed */
  }
  
  .profile-info p {
    font-size: 16px;
    margin: 0;
  }
  