/*body, html {
  margin: 0;
  padding: 0;
  background-color: #333; /* Set background color to black or similar */
  /* font-family: Arial, sans-serif; /* Example font family */
/* } */ 

/* body, html {
  margin: 0;
  padding: 0;
  background-color: #333;
  font-family: Arial, sans-serif;
} */

/* No need for separate CSS file, integrated within styled-components in JSX */


.admin-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Make the container relative for absolute positioning */
  min-height: 100vh; /* Set container minimum height to viewport height */
}



.admin-header {
  position: absolute;
  top: 60px; /* Adjust the top position to leave space for the navbar */
  right: 20px; /* Adjust the right position as needed */
}


.fetch-buttons-container {
  margin-top: 20px; /* Adjust margin-top as needed */
  display: flex;
  justify-content: center; /* Center the button horizontally */
}

.fetch-buttons {
  background-color: blue; /* Example background color */
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.fetch-buttons:hover {
  background-color: darkblue; /* Example hover background color */
}


.logout-button {
  background-color: red;
  color: white;
  width: 80px; /* Set width and height to the same value for a circle */
  height: 80px; 
  border: none;
  border-radius: 50%; /* Set border-radius to 50% for full circle */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-button:hover {
  background-color: darkred;
}